body{
	margin: 0;
}
.menu{
	display: flex;
	background-color: #29333D;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.logo {
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	display: flex;
}

.img-logo{
	height: 70%;
}

.menu_itens {
	width: 30%;
	display: flex;
	justify-content: space-between;
 	list-style: none;
	align-items: center;
}

.menu__item {
}

.menu__link {
 	font: 12px 'Montserrat';
 	color: white;
 	text-decoration: none;
}

.botoes {
	width: 26%;
	display: flex;
	padding: 12px;
	margin-right: 2%;
	margin-left: auto;
	justify-content: space-around;
}

.botao-doar{
    background-color: transparent;
    color: black;
 	font: 11px 'Montserrat';
 	color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px; 
}

.botao-adotar{
    background-color: #FB3348;
    color: black;
 	font: 11px 'Montserrat';
 	color: white;
    border: 1px solid #FB3348;
    border-radius: 5px;
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px; 
}

.secao1{
	background-color: #1E252C;
	height: 500px;
}