body{
	margin: 0;
}
.menu{
	display: flex;
	background-color: #29333D;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.logo {
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	display: flex;
}

.img-logo{
	height: 70%;
}

.menu_itens {
	width: 30%;
	display: flex;
	justify-content: space-between;
 	list-style: none;
	align-items: center;
}

.menu__item {
}

.menu__link {
 	font: 12px 'Montserrat';
 	color: white;
 	text-decoration: none;
}

.botoes {
	width: 26%;
	display: flex;
	padding: 12px;
	margin-right: 2%;
	margin-left: auto;
	justify-content: space-around;
}

.botao-doar{
    background-color: transparent;
    color: black;
 	font: 11px 'Montserrat';
 	color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px; 
}

.botao-adotar{
    background-color: #FB3348;
    color: black;
 	font: 11px 'Montserrat';
 	color: white;
    border: 1px solid #FB3348;
    border-radius: 5px;
    padding: 10px;
    padding-left: 55px;
    padding-right: 55px; 
}

.iniciativa{
	background-color: #1E252C;
	display: flex;
	height: 510px;
}

.texto{
	width: 30%;
	padding-top: 7%;
	padding-left: 15%;
}

.titulo{
 	color: white;
	font: 38px 'Montserrat';
	font-weight: bold;
	padding-bottom: 40px;
}

.subtitulo{
	text-align: justify;
	letter-spacing: 1px;
 	color: white;
	font: 10px 'Montserrat';
	padding-bottom: 40px;
}

.imagem{
	margin: auto;
}

.img-secao1{
	height: 280px;
}

.objetivos{
	background-color: white;
	height: 600px;
}

.titulo-2{
 	color: #1E252C;
 	text-align: center;
	font: 24px 'Montserrat';
	font-weight: bold;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

.subtitulo-2{
 	color: #898989;
 	text-align: center;
	font: 14px 'Montserrat';
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 40px;
}

.parceiros{
	display: flex;
	height: 600px;
	background-image: linear-gradient(to bottom, #1E252C 30%, white 25%, white 70%, white 70%, white 80%, white 80%, white);
}

.caixa-interna{
	width: 60%;
	height: 70%;
	margin: auto;
	display: flex;
	background-color: white;
    border-left: solid 1px;
	border-left-color: #d9d8d4;
	-webkit-box-shadow: 5px 4px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    5px 4px 5px rgba(50, 50, 50, 0.77);
	box-shadow:         5px 4px 5px rgba(50, 50, 50, 0.77);
}

.contatos{
	height: 600px;
	background-color: white;
}

footer{
	height: 250px;
	background-color: #1E252C;
}